nav {
  padding: 3rem 0 0;
  width: 100%;

  ul {
    @include reset-list;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    li {
      border: 1px solid $white;
      color: $white;
      flex-basis: 33.3%;
      flex-grow: 1;
      text-align: center;

      &.is-active {
        background-color: $white;
        color: $black;
      }

      a {
        @include reset-links;
        display: block;
        padding: 1rem 0;
        text-transform: uppercase;
      }
    }
  }
}