.sidebar {
	background-color: $grey-dark;
	height: 100vh;
  left: 0;
	opacity: 0.95;
  overflow: scroll;
  position: absolute;
  top: 0;
	width: 33%;

  .wrapper {
    padding: 3rem;
    width: calc(100% - 6rem);
  }
}