<section class="data-input state-input">
  <div class="data-input__section">
    <div class="data-input__dropdown state-input__main">
      <h5>Voting State</h5>
      <select>
        <option value="0">We'll probably</option>
        <option value="1">add these</option>
        <option value="2">through JS</option>
      </select>
    </div>
    <div class="data-input__dropdown state-input__committee">
      <h5>Committee</h5>
      <select>
        <option value="0">We'll probably</option>
        <option value="1">add these</option>
        <option value="2">through JS</option>
      </select>
    </div>
    <div class="data-input__dropdown state-input__session">
      <h5>Session</h5>
      <select>
        <option value="0">We'll probably</option>
        <option value="1">add these</option>
        <option value="2">through JS</option>
      </select>
    </div>
  </div>
  <div class="data-input__section">
    <h3 class="data-input__section-title">Metrics</h3>
    <form class="data-input__form">
      <div class="data-input__radio">
        <input type="radio" value="0" name="0" id="ideal_est" checked>
        <label for="ideal_est">
          <p class="radio-title">Ideal MCMC</p>
          <p class="radio-sub">Consensus Estimator</p>
        </label>
      </div>
      <div class="data-input__radio">
        <input type="radio" value="0" id="ideal_trad" name="0">
        <label for="ideal_trad">
          <p class="radio-title">Ideal MCMC</p>
          <p class="radio-sub">Traditional</p>
        </label>
      </div>
      <div class="data-input__radio">
        <input type="radio" value="0" name="0" id="alpha_est">
        <label for="alpha_est">
          <p class="radio-title">Alpha Nominate</p>
          <p class="radio-sub">Consensus Estimator</p>
        </label>
      </div>
      <div class="data-input__radio">
        <input type="radio" value="0" name="0" id="alpha_trad">
        <label for="alpha_trad">
          <p class="radio-title">Alpha Nominate</p>
          <p class="radio-sub">Traditional</p>
        </label>
      </div>
      <div class="data-input__radio">
        <input type="radio" value="0" name="0" id="optimal_est">
        <label for="optimal_est">
          <p class="radio-title">Optimal Classification</p>
          <p class="radio-sub">Consensus Estimator</p>
        </label>
      </div>
      <div class="data-input__radio">
        <input type="radio" value="0" name="0" id="optimal_trad">
        <label for="optimal_trad">
          <p class="radio-title">Optimal Classification</p>
          <p class="radio-sub">Traditional</p>
        </label>
      </div>
    </form>
  </div>
  <div class="data-input__section">
    <h3 class="data-input__section-title">Comparison</h3>
    <div class="data-input__comparison">
      <div class="comparison__selected">
        <h5>State</h5>
        <a href="#" class="comparison__selected-close"><span>X</span></a>
      </div>
      <div class="comparison__selected">
        <h5>State</h5>
        <a href="#" class="comparison__selected-close"><span>X</span></a>
      </div>
      <div class="comparison__add">
        <a href="#" class="comparison__add-plus"><span>+</span></a>
        <h5>Add another State to compare</h5>
      </div>
    </div>
  </div>
  <div class="data-input__submit">
    <div class="data-input__submit-button">
      <a href="#"><h3>Submit</h3></a>
    </div>
  </div>
</section>
